@import "../common/scss/reset";

body {
    color: darkblue;
    .mui-bar {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .mui-content img {
        width: 100%;
    }
    .hm-description {
        margin: 15px;
    }
    .hm-description>li {
        font-size: 14px;
        color: #8f8f94;
    }
}