@import "../common/scss/reset";

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

html::-webkit-scrollbar {
    background-color: #F5F5F5;
    opacity: 1;
    display: none;
}

body {
    &::-webkit-scrollbar {
        background-color: #F5F5F5;
        opacity: 1;
        display: none;
    }
    color: darkblue;
    .mui-bar {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .mui-content img {
        width: 100%;
    }
    .hm-description {
        margin: 15px;
    }
    .hm-description>li {
        font-size: 14px;
        color: #8f8f94;
    }
}