@import "../../common/scss/reset";
.userInfo {
    ul {
        li {
            padding: 15px 15px;
            font-size: 15px;
            label {
                color: $titleFontColor;
                width: 20%;
            }
            p.text {
                line-height: 20px;
                width: 80%;
                text-align: right;
            }
        }
    }
    .avatar {
        background-color: #f9f2ea;
        overflow: hidden;
        .headImg {
            background-color: #fff;
            display: block;
            width: 75px;
            height: 75px;
            border-radius: 100%;
            background-color: #666;
            border: solid 4px #fff;
            margin: 30px auto;
            background-repeat: no-repeat;
            -webkit-background-size: contain;
            background-size: contain;
            background-position: center;
            text-indent: 999px;
            overflow: hidden;
        }
    }
}