@import "../../common/scss/reset";
body,
.mui-content {
    background-color: #fff;
    color: #3e3f41;
}

header.userInfo {
    padding: 10px 15px 10px;
    background: #f9f2ea;
}

header.userInfo .icon-message1 {
    color: #6A80A1;
}

header.userInfo .icon-qrcode {
    clear: right;
    margin-top: 30px;
    color: #6A80A1;
}

header.userInfo .avatar {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: #666;
    border: solid 4px #fff;
    margin-bottom: 15px;
    float: left;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
}

header.userInfo h4 {
    font-weight: normal;
    font-size: 19px;
    clear: left;
    color: #5A5A5A;
    margin-top: 5px;
}

header.userInfo p {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: 18px;
    color: #656f53;
}

.menu-list {
    margin-bottom: 15px;
}

.mui-table-view .iconfont {
    color: #6A80A1;
}

.mui-table-view li {
    font-size: 15px;
    color: #5a5a5a;
}

.mui-table-view li .iconfont {
    font-size: 24px;
    margin-right: 10px;
}

#setting:after,
#setting:before {
    content: initial;
}